/*
 * prevent selection of objects everywhere
 */
 body {
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  user-select: none;
}

#rg2-header-container {
  background: #002bd9;
  color:black;
  position: relative;
  border-bottom: 4px solid black;
}

#rg2-container {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

#rg2-info-panel {
  position: absolute;
  width: 360px;
  z-index: 100;
  height: 99%;
  background: white;
 }

 #rg2-info {
  height: 95%;
  overflow-y: auto;
 }

#rg2-map-canvas {
  z-index: 50;
  position: absolute;
  background-color: #007ad9;
}

#zoom-controls {
  font-size: 1.5rem;
  line-height: 0;
  position: absolute;
  right: 10px;
  top: 46px;
}

#replay {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.rg2-title {
  font-size: 1.25rem;
  color: white;
  line-height: 1.25rem;
}